# =====================================
# Virtual Environment
# =====================================
venv/

# =====================================
# Python Cache
# =====================================
__pycache__/
*.py[cod]
*.pyo

# =====================================
# Dataset (Do NOT upload)
# =====================================
dataset/
data/PlantVillageDataset/

# Keep sample images if you want
!data/sample_images/

# =====================================
# Generated Reports
# =====================================
reports/

# =====================================
# Model Checkpoints (optional)
# =====================================
*.h5


# Uncomment if model is larger than 100 MB
# saved_models/

# =====================================
# IDE
# =====================================
.vscode/

# =====================================
# Temporary Files
# =====================================
*.tmp
*.log

# =====================================
# Operating System
# =====================================
.DS_Store
Thumbs.db